@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
	padding: 0;
	margin: 0;
	background:#eeede9;
}
html,h1,h2,h3,h4,h5,h6,a{
	/* font-family: "Raleway"; */
	/* font-family: "Inconsolata", sans-serif; */
	/* font-family: "Roboto", sans-serif; */
	font-family: 'Noto Serif', serif;
}
/* main logo */
.main-logo{
	margin: 0em;
	padding: 2em;
}
.main-logo-color{
	background:#eeede9;
}
.green-color{
	background:rgba(50, 120, 120, 1);
}
.uncolored-link{
	color: inherit !important;
}
/* navbar */
.navbar{
	background:rgba(50, 120, 120, 1);
	/* max-height: 2.6em; */
}
/* vertical line */
/* .nav-vl {
    border-left: 3px solid #eeede9;
	height: 1.5em;
	align-self: center;
} */
.nav-link{
	color: #ffffff !important;
}

.navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=eeede9')  !important;
	outline: none;
    box-shadow: none;
}
/* .navbar-collapse{
	justify-content: flex-start ;
}  */
.nav-link:hover{
	background: rgba(30, 100, 100, 1);
	/* color: rgba(200, 100, 100);
	height: 30px; */
}

/* .home
{
	padding: 0;
	margin: 0;
	background:#a09e9e;	
} */


/*table style*/
 th {
	padding: 20px;
  }

/*card style*/
.card-home{
	background:#f4f4f4;
    background:rgba(244, 244, 244, 0.2) ;
    border-color:#7eceaf;
    border-width: 0px;
}
/*home jumbotron style*/
.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(244, 244, 244, 1.0) 100%), url('../images/background/farmacia0.jpg')
}



/* vertical line */
.vl {
    border-left: 4px solid #7eceaf;
    height: 50px;
}


/* chi siamo */
.about{
	margin: 0em;
	padding: 3em;
	position: relative;
}
.about h1{
	color:#7eceaf;
	margin: 0em;
}
.about img{
	height: 100%;
	width: 100%;
	border-radius: 10%
}
.about span{
	display: block;
	color: #888;
	position: absolute;
	left: 115px;
}
.about .desc{
	padding: 2em;
	border-left:4px solid #7eceaf;
}
.about .desc h3{
	color: #10828C;
}
.about .desc p{
	line-height:2;
	color:#888;
}
.about .desc ul{
	line-height:2;
	color:#888;
}
.about .desc li{
	line-height:2;
	color:#888;
}